create database rev1;

create table solars ( 
	sid primary serial key, 
	name varchar(255) 
);

create table planets ( 
	pid serial primary key, 
	sid int(10), 
	name varchar(255), 
	value text 
);

insert into solars (name) value ('intuit');

insert into planets (sid, name, value) values (1, 'ticker', 'INTU'), (1, 'price', '59');

